body {
      font-family: Arial, sans-serif;
      background-color: white;
   transition: background-color 0.5s;
  transition-delay: 0.3s;
    }

    h1 {
      text-align: center;
    }

    #button-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin: 10px;
      transition: transform 0.3s;
    }
.button:hover {
  transform: scale(1.1);
}
    .neon {
       background-color: #0f0f0f;
  color: #00ff00;
  text-shadow: 0 0 5px #00ff00;
    }

    .anime {
      background-color: pink;
      color: white;
      text-shadow: 0 0 5px white;
      
    }

    .harry-potter {
      background-color: maroon;
      color: gold;
      text-shadow: 0 0 5px gold;
    }